body {
  font-family: 'Roboto Slab', serif !important;
  overflow-x: hidden;
  position: relative;
}

.content {
  scroll-behavior: smooth;
}

.raleway {
  font-family: 'Raleway', sans-serif !important;
}

ul.navbar-nav a {
  color: black !important;
}

ul.navbar-nav a:hover {
  transform: scale(1.1);
  }

.view {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left-bottom, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0.3))), url('pics/shunya-koide-7svli__kLRk-unsplash.jpg'); 
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('pics/shunya-koide-7svli__kLRk-unsplash.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  margin-bottom: 100px;
  box-shadow: 5px 10px 25px 5px darkgrey !important;
}

.fab, .fas, .far {
  color: black;
}

#icon-list li {
  font-size: 1.5em !important;
}

#icon-list li:hover {
  transform: scale(1.1);
}

.project-img:hover {
  transform: scale(1.05);
}

.modal-header {
  background-color: green;
}

.close {
  color: white !important;
}

.modal-body p, .about-text, .skills-list {
  font-size: 1rem !important;
}

#profile-pic {
  filter: grayscale(25%);
  display: block;
  margin: auto;
}

.section-container {
  padding: 100px 5px;
  box-shadow: 5px 10px 25px 5px darkgrey !important;
}


